.not-found {
    width: 100%;
    height: calc(100vh - 60px);
    /* aqui a gente quer pegar 100vh da tela, para isso temos que diminuir do espaço que o header já está ocupando */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-found h1 {
    font-size: 120px;
}

.not-found a {
    text-decoration: none;
    background-color: #116feb;
    color: #fff;
    padding: 10px;
    margin-top: 14px;
}